# IDE stuff
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Composer stuff
/vendor
composer.lock

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/

# Node stuff
node_modules
yarn.lock
package-lock.json

# Bower web dependencies
assets/libraries

