<!DOCTYPE html>
<html>
<head>
    <title>{!PageTitle}</title>
    <!--@css{bootstrap.min,adminlte/AdminLTE.min}-->
</head>
<body class="skin-blue layout-top-nav">
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><b>Admin</b>LTE</a>
                    <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed"
                            type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../main/main">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="../main/main">Link</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <span
                                    class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="main/main">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {CONTENT}

    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.92
            </div>
        </div>
    </footer>
</div>
<!--@js{jQuery-2.1.4.min}-->
</body>
</html>